/* CUSTOM CLASSES */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock-style {
  font-family: "Fredericka the Great", cursive;
  text-shadow: 2px 2px 4px #000;
  letter-spacing: 0.3rem;
}

/* MAIN STYLES */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7e9bc;
  color: ghostwhite;
}

main {
  margin-bottom: 1.5rem;
}

/* HEADER */
header {
  height: 12vh;
}

header h1 {
  font-size: 3.5rem;
  text-shadow: 1px 1px 4px #000;
}

/* GAMERS AREA */
.gamers {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
}

.gamers div {
  width: 20%;
  height: 8rem;
  padding: 1rem;
}

#you,
#computer {
  border: 3px solid gray;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 5%;
  font-size: 2.6rem;
  color: brown;
  background-color: #ebe6d6;
  display: flex;
  flex-direction: column;
}

.gamers p {
  margin: 0;
}

#mobile-text {
  display: none;
}

#userRounds,
#computerRounds {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-top: 1rem;
}

/* MATCH AREA */
.match {
  width: 55%;
  margin: 3rem auto 0;
  padding: 3rem;
  justify-content: space-between;
}

.match img {
  margin: 0 2rem;
}

/* RESULT AREA */
.result {
  font-size: 3rem;
  color: chocolate;
  display: flex;
  flex-direction: column;
}

.result button {
  color: rgb(141, 67, 14);
  padding: 0.5rem;
  border: 3px solid gray;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 5%;
  margin-top: 2rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: none;
}

.result button:hover {
  transform: scale(0.9);
}

/* CHOICE AREA */
.choice {
  width: 50%;
  margin: 3.7rem auto 0;
  text-align: center;
  border: 3px solid gray;
  box-shadow: 1px 1px 3px 1px gray;
  border-radius: 2%;
}

.choice-pics {
  display: flex;
  justify-content: space-evenly;
}

.choice img {
  margin: 1.5rem 2rem;
  transition: all 0.3s ease-in-out;
}

.choice img:hover {
  transform: scale(1.2);
}

/* FOOTER */
footer {
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  right: 2rem;
}

footer p {
  font-size: 1rem;
  color: gray;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .gamers {
    font-size: 1.8rem;
    margin-top: 4rem;
  }

  .gamers div {
    height: 3rem;
  }

  #you,
  #computer {
    font-size: 1.4rem;
  }

  .gamers #mobile-text {
    display: initial;
  }

  .gamers #pc-text {
    display: none;
  }

  #userRounds,
  #computerRounds {
    margin-top: 0;
    font-size: 1rem;
  }

  .match {
    margin: 5.5rem 0 0;
    padding: 0;
  }

  .match img {
    width: 40%;
  }

  .result {
    font-size: 1.6rem;
  }

  .choice {
    width: 90%;
  }

  .choice h2 {
    display: none;
  }

  .choice-pics img {
    width: 15%;
  }

  footer p {
    font-size: 0.7rem;
  }
}
